<form class="box" action="First.html" method="post">
    <div *ngIf="show; else showVariation">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
        <h1 id="LoginForm" class="v2">Login v2</h1>
    </div>
    <ng-template #showVariation>
        <img src="https://angular.io/assets/images/logos/angular/angular_whiteTransparent.svg" />
        <h1 id="LoginForm" class="v1">Login v1</h1>
    </ng-template>

    <input type="text" name="" placeholder="Username">
    <input type="password" name="" placeholder="Password">
    <input type="submit" name="" value="Login">
</form>

<router-outlet></router-outlet>